body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#form {
  max-width: 65%;
  margin: 0 auto;

}

#main {
  max-width: 55%;
  margin: 0 auto;
  align-self: center;
}

#customers {
  max-width: 55%;
  margin: 0 auto;
  align-self: center;
}

#employees {
  max-width: 55%;
  margin: 0 auto;
  align-self: center;
}

#add {
  color: lightcoral;
}

#details {
  color: plum;
}

#delete {
  background-color: indianred;
  border-color: indianred;
}

#submit {
  background-color: plum;
  border-color: plum;
}

#complete {
  background-color: mistyrose;
  border-color: mistyrose;
  color: black;
}
